<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Question</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='admin_form.css') }}">
</head>
<body>

<div class="page-container">

  <!-- HEADER -->
  <header>
    <div class="logo">🎓 PCLE LMS - Admin</div>
    <nav>
      <ul>
        <!--<li><a href="{{ url_for('admin_home') }}">Dashboard</a></li>-->
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
      </ul>
    </nav>
  </header>

  <!-- MAIN LAYOUT -->
  <div class="admin-layout">

    <!-- SIDEBAR -->
    <div class="sidebar">
      <h2>Admin Panel</h2>
      <a href="{{ url_for('admin_home') }}">Dashboard</a>
      <a href="{{ url_for('admin_add_module') }}">Add Module</a>
      <a href="{{ url_for('admin_add_question') }}">Add Questions</a>
      <a href="{{ url_for('admin_add_material') }}">Add Materials</a>
    </div>

    <!-- CONTENT -->
    <div class="content">
      <div class="admin-panel">

        <h1>Edit Question</h1>

        <form method="POST">

        <label>Module</label>
        <select name="subject_id">
            {% for m in modules %}
            <option value="{{ m.id }}" {% if m.id == question.subject_id %}selected{% endif %}>
            {{ m.module_name }}
            </option>
            {% endfor %}
        </select>

        <label>Assessment Type</label>
        <select name="assessment_type">
            <option value="pre" {% if question.assessment_type=='pre' %}selected{% endif %}>Pre</option>
            <option value="final" {% if question.assessment_type=='final' %}selected{% endif %}>Final</option>
        </select>

        <label>Question Type</label>
        <select name="question_type">
            <option value="mcq" {% if question.question_type=='mcq' %}selected{% endif %}>MCQ</option>
            <option value="tf" {% if question.question_type=='tf' %}selected{% endif %}>True/False</option>
        </select>

        <label>Question</label>
        <textarea name="question_text">{{ question.question_text }}</textarea>

        <label>Option A</label>
        <input type="text" name="option_a" value="{{ question.option_a }}">

        <label>Option B</label>
        <input type="text" name="option_b" value="{{ question.option_b }}">

        <label>Option C</label>
        <input type="text" name="option_c" value="{{ question.option_c }}">

        <label>Option D</label>
        <input type="text" name="option_d" value="{{ question.option_d }}">

        <label>Correct Answer</label>
        <input type="text" name="correct_answer" value="{{ question.correct_answer }}">

        <button type="submit">Update</button>

        </form>

      </div>
  </div>

 </div>
 <!-- FOOTER -->
   <footer>
     <p>© 2026 PCLE LMS - Admin Panel</p>
   </footer>

</div>

</body>
</html>